*:not(dialog) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    font-weight: 500;
    font-style: normal;
    background-color: #f4f4f4ef;
    overflow-x: hidden;

}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    color: #0c2c08fb;
    margin-bottom: 10px;
}


header {
    background-image: linear-gradient(to right, #1b6113ec, #165311d3);
    color: rgba(255, 255, 255, 0.911);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    z-index: 1000;
}

header .logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.6;
}
footer{
    text-align: center;
    height : 50px;
    padding : 20px;
}


.admBtn {
    width: 150px;
    background-color: rgba(255, 255, 255, 0.644);
    color: rgba(146, 8, 8, 0.801);
    font-size: 10px;
    padding: 4px 7px;
    border-radius: 6px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid rgba(255, 0, 0, 0.849);
    cursor: pointer;

}

.admBtn:hover {
    background-color: rgba(146, 8, 8, 0.801);
    color: rgba(255, 255, 255, 0.822);
    border: 1px solid rgba(255, 255, 255, 0.822);
}



@media (max-width: 650px) {



    .search form {
        width: 80%;
        display: flex;
        gap: 8px;
        margin-top: 15px;
       
        
    }

    .search input {
        width: 100%;
        margin-left: 0;
    }

    .adm section {
        flex-direction: column;
    }

    .adm section .container {
        width: 100%;
    }
}

.nav-links {
    display: flex;
}

header ul {
    display: flex;
    gap: 20px;
}

header li {
    border-bottom: 2px solid rgba(255, 255, 255, 0.911);
    padding: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

header li:hover {
    color: #c9bc0cef;
    border-color: #c9bc0cef;
    transform: scale(1.03);
}

.search {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;


}

.search input {
    outline: none;
    border: 1px solid #ccc;
    margin-left: 10px;
    padding: 1px;
    opacity: 1;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.733);
}

.search input::placeholder {
    color: rgba(0, 0, 0, 0.733);
}

.search button {
    padding: 1px 10px;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.548);
    background-color: #1b6113ec;
    color: rgba(255, 255, 255, 0.767);
    cursor: pointer;
    transition: 0.2s ease;
}

.search button:hover {
    background-color: #c9bc0cef;
    color: #175311fb;
    transform: scale(1.03);
}

.categorias {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.categorias ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.categorias li {
    font-size: small;
    border-bottom: 2px solid #175311fb;
    color: #0a2508fb;
    padding: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.categorias li:hover {
    color: #c9bc0cef;
    border-color: #c9bc0cef;
    transform: scale(1.10);
}


main>section:first-child {
    padding: 10px;
    text-align: center;
}

main>section:first-child>h2 {
    margin-bottom: 20px;
}



main>section:first-child>.lista_produtos {
    margin: 0 auto;
    max-width: 2040px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

main>section:first-child>.lista_produtos .produto {
    flex: 0 1 180px;
   
    border-radius: 30px 30px 10px 10px;
    box-shadow: #00000036  1px  2px 2px 2px;
    transition: 0.3s ease;
    background-color: #dfe9de34;
}

main>section:first-child>.lista_produtos .produto:hover {
    transform: scale(1.06);
    transition: 0.3s;
    cursor: pointer;
}

main>section:first-child>.lista_produtos .produto img {
    min-width: 100%;
    height: 150px;
    display: block;
    border-radius: 30px 30px 0px 0px;
}

main>section:first-child>.lista_produtos .produto .informacoes {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
}

main>section:first-child>.lista_produtos .produto .informacoes h3 {
    width: 100%;
    font-size: 16px;
}

.preco {
    background-color: rgba(255, 255, 255, 0.384);
    width: 100%;
    padding: 2px 8px;
    border-radius: 8px;
    margin: 5px 0;
}


main>section:first-child>.lista_produtos .produto .informacoes p {
    font-size: 14px;
    font-weight: 300;
}

.informacoes button {
    margin: 10px;
    padding: 8px 16px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 0px 2px 2px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease;
}

.informacoes button:hover {
    background-color: #e2e6e1e3;
    color: #080808e5;
    transform: scale(1.05);
}

.adm section {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.adm section .container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(15, 15, 15, 0.329) 0px 0px 2px 2px;
}

.adm section>div:last-child {
    flex: 2 1 100%;
}

.tabela {

    height: 400px;
    overflow: auto;

}

.adm section .container form {

    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;

}

.adm section .container h2 {
    margin-bottom: 20px;
}

.adm section .container form label {
    font-weight: 600;
    opacity: 0.8;
}

.adm section .container form input,
select {
    background-color: transparent;
    outline: none;
    border: none;
    border: 1px solid rgba(10, 61, 10, 0.5);
    padding: 5px;

}

.adm section .container form button {
    background-color: rgba(10, 59, 16, 0.856);
    color: rgba(238, 236, 236, 0.801);
    font-size: 14px;
    width: 50%;
    margin: 0 auto;
    bottom: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    border: none;


    &:hover {

        transform: scale(1.05);
        transition: 0.3s;
        cursor: pointer;

    }

}

.produtos-table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: rgba(15, 15, 15, 0.329) 0px 0px 1px 1px;


}


.produtos-table th,
.produtos-tabletd {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.produtos-table th {
   
    color: black;
    text-align: center;
}

 .produtos-table tbody tr:hover {
    cursor: pointer;
   
    border: 2px solid black;
}


.produtos-table td {
    border: 1px solid #ddd;
    padding: 10px;

}
.active {
    background-color: rgba(11, 97, 11, 0.651);
}


.container .btn {
    display: inline;
    margin: 0 auto;

}

.container .btn button {
    font-size: 16px;
    width: 250px;
    margin: 20px;
    padding: 10px 16px;
    border: 1px solid rgba(0, 0, 0, 0.425);
    border-radius: 8px;
    outline: none;
}

.container .btn button:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
    cursor: pointer;
}

#alterar {
    background-color: rgb(184, 157, 10);
    color: rgba(255, 255, 255, 0.788);

}

#deletar {
    background-color: rgb(148, 17, 17);
    color: rgba(255, 255, 255, 0.788);
}

dialog {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(15, 15, 15, 0.329) 0px 0px 2px 2px;
    margin: auto auto;
}

dialog::backdrop {
    background-color: rgba(14, 82, 37, 0.575);
}

dialog .titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

dialog form h2 {
    color: rgb(134, 106, 13);
}

dialog form input,
select {
    background-color: transparent;
    outline: none;
    border: none;
    border: 1px solid rgba(10, 61, 10, 0.5);
    padding: 10px;
}

dialog form label {
    font-weight: 600;
    opacity: 0.8;
}

dialog form button {
    background-color: rgba(22, 71, 12, 0.801);
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
    width: 50%;
    margin: 0 auto;
    bottom: 100%;
    padding: 10px 16px;
    border-radius: 5px;

    cursor: pointer;

    &:hover {
        transform: scale(1.02);
        transition: 0.3s;

    }

}

dialog button {

    font-size: 16px;
    margin: 20px;
    padding: 10px 16px;
    border: none;
    outline: none;
    border-radius: 8px;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

}


.cancelar {
    background-color: rgb(184, 157, 10);
    color: rgba(255, 255, 255, 0.753);
}

.excluir {
    background-color: rgb(148, 17, 17);
    color: rgba(255, 255, 255, 0.753);
}
.notificacao{
    
    margin: 10px 0px;
    text-align: center;
    color: rgba(184, 19, 19, 0.952);
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bolder;
}