* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    
}

body {
    font-weight: 500;
    font-style: normal;
    background-color: #f4f4f4ef;
    
    
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    color: #0c2c08fb;
    margin-bottom: 10px;
}


header {
    background-image: linear-gradient(to right, #1b6113ec, #165311d3);
    color: rgba(255, 255, 255, 0.911);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    z-index: 1000;
}

header .logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.6;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.911);
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu-toggle:hover {
    color: #c9bc0cef;
}

.admBtn {
    background-color: rgba(255, 255, 255, 0.644);
    color: rgba(146, 8, 8, 0.801);
    font-size: 14px;
    padding: 3px 7px;
    border-radius: 8px;
    border: 1px solid rgba(255, 0, 0, 0.849);
    cursor: pointer;

}
.admBtn:hover{
    background-color: rgba(146, 8, 8, 0.801);
    color: rgba(255, 255, 255, 0.822);
    border: 1px solid  rgba(255, 255, 255, 0.822);
    


}

.nav-links {
    display: flex;
}

header ul {
    display: flex;
    gap: 20px;
}

header li {
    border-bottom: 2px solid rgba(255, 255, 255, 0.911);
    padding: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

header li:hover {
    color: #c9bc0cef;
    border-color: #c9bc0cef;
    transform: scale(1.03);
}
.search {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;


}

.search input {
    outline: none;
    border: 1px solid #ccc;
    margin-left: 10px;
    padding: 1px;
    opacity: 1;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.733);
}

.search input::placeholder {
    color: rgba(0, 0, 0, 0.733);
}

.search button {
    padding: 1px 10px;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.548);
    background-color: #1b6113ec;
    color: rgba(255, 255, 255, 0.767);
    cursor: pointer;
    transition: 0.2s ease;
}

.search button:hover {
    background-color: #c9bc0cef;
    color: #175311fb;
    transform: scale(1.03);
}

.categorias {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categorias ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.categorias li {
    font-size: small;
    border-bottom: 2px solid #175311fb;
    color: #0a2508fb;
    padding: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.categorias li:hover {
    color: #c9bc0cef;
    border-color: #c9bc0cef;
    transform: scale(1.10);
}


main > section:first-child {
    padding: 10px;
    text-align: center;
}

main > section:first-child > h2 {
    margin-bottom: 20px;
}

main > section:first-child > .lista_produtos {
    margin: 0 auto;
    max-width: 2040px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

main > section:first-child > .lista_produtos .produto {
    flex: 0 1 180px;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 30px 30px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.575) 2px 2px 6px;
    transition: 0.3s ease;
}

main > section:first-child > .lista_produtos .produto:hover {
    transform: scale(1.06);
    transition: 0.3s;
    cursor: pointer;
}

main > section:first-child > .lista_produtos .produto:nth-child(2n + 1) {
    background-color: #1b6113e7;
}

main > section:first-child > .lista_produtos .produto:nth-child(2n + 2) {
    background-color: #c9bc0cef;
}

main > section:first-child > .lista_produtos .produto img {
    min-width: 100%;
    height: 150px;
    display: block;
    border-radius: 30px 30px 0px 0px;
}

main > section:first-child > .lista_produtos .produto .informacoes {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
}

main > section:first-child > .lista_produtos .produto .informacoes h3 {
    width: 100%;
    font-size: 16px;
}

.preco {
    background-color: rgba(255, 255, 255, 0.384);
    padding: 2px 8px;
    border-radius: 8px;
    margin: 5px 0;
}

main > section:first-child > .lista_produtos .produto .informacoes p {
    font-size: 14px;
    font-weight: 300;
}

.informacoes button {
    margin: 10px;
    padding: 8px 16px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.521) 2px 2px 6px;
    border-radius: 5px;
    background-color: transparent;
    color: #e2e6e1e3;
    cursor: pointer;
    transition: 0.2s ease;
}

.informacoes button:hover {
    background-color: #e2e6e1e3;
    color: #080808e5;
    transform: scale(1.05);
}

@media screen and (max-width: 650px) {
    header{
        width: 100%;
        height: 50px;
        position: fixed;
        padding:10px;
      

        
    }
    .search {
        margin-top: 50px;
    }
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #1b6113ec;
        display: none;
        align-items: center;
        justify-content: center;  
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 999;
    }
    .menu-toggle {
      
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
    }
    .nav-links ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
    }
    header ul li {
        margin: 20px 0;
        font-size: 24px;
    }
    .search {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    main > section:first-child > .lista_produtos {
        grid-template-columns: 1fr 1fr;
    }
}


.adm section {
    width: 100vw;
    padding: 5px;
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
}
.adm section .formulario {
    flex: 1 1 300px ;
    display: flex;
    flex-direction:column;
    justify-content: start ;
    min-height: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(15, 15, 15, 0.329) 0px 0px 2px 2px;
}

.adm section .formulario form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;

}
.adm section .formulario  h2 {
    margin-bottom: 20px;
}
.adm section .formulario form label {
    font-weight: 600;
    opacity: 0.8;
}
.adm section .formulario form input, select {
    background-color: transparent;
    outline: none;
    border: none;
    border: 1px solid rgba(10, 61, 10, 0.5); 
    padding: 5px;
   
}
.adm section .formulario form button {
    background-color: rgba(255, 255, 255, 0.644);
    color: rgba(146, 8, 8, 0.801);
    font-size: 14px;
    width: 50%;
    margin: 0 auto;
    bottom: 100%;
    padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0.849);
    cursor: pointer;
    &:hover{
        background-color: rgba(146, 8, 8, 0.801);
        color:rgba(255, 255, 255, 0.644); 
        transform: scale(1.02);
        transition: 0.3s;

    }

}






